<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="services.xml"/>
    <import resource="aspects.xml"/>

    <bean id="app" class="com.epam.training.spring.core.practical.App">
        <constructor-arg index="0" ref="userService"/>
        <constructor-arg index="1" ref="auditoriumService"/>
        <constructor-arg index="2" ref="eventService"/>
        <property name="emailUser" value="b@epam.com"/>
        <property name="nameEvent" value="Event_2"/>
    </bean>
</beans>